{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block contenido %}
<div class="col-md-4 mx-auto">
    {% element h2 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% trans "¿Olvidaste tu contraseña? Ingresa tu correo dbajo, y te enviaremos un correo permitiendote restablecerla" %}
    </p>
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
    {{ form|crispy }}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}">
        {% endslot %}
    {% endelement %}
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock contenido %}
