{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block contenido %}
    {% element h2 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}Te hemos enviado un email. Si no lo has resivido por favor revisa la carpeta de spam. De otra manera contactanos si no lo has recibido en los proximos minutos.{% endblocktrans %}
    </p>
{% endblock contenido %}
