<!-- templates/lista_articulos_por_categoria.html -->
{% extends "_base.html" %}

{% load static %}

{% block titulo %}Articulos por Categoría{% endblock titulo %}

{% block contenido %}

<h2>Hola {{user.username}}</h2>
<div class="row">
    {% for articulo in articulo_list %}
        <div class="col-md-6">
            <div class="card mb-3 mx-2">
                <div class="card-header bg-info">
                    <h3 class="font-weight-bold link-dark">
                        <a href="{% url 'detalle_articulo' articulo.pk %}"  class="navbar-brand">
                            {{ articulo.titulo }}
                        </a>
                    </h3>
                    <div class="text-center">
                    <span class="badge rounded-pill text-bg-light mx-2">{{ articulo.plataforma }}</span>
                    <span class="badge rounded-pill text-bg-light mx-2">{{ articulo.genero }}</span>
                    <span class="badge rounded-pill text-bg-light mx-2">{{ articulo.modalidad }}</span>
                </div>
                </div>
                <div class="card-body">
                {% if user.is_authenticated %}
                    <div style="text-align: center;">
                     <a href="{% url 'detalle_articulo' articulo.pk %}"> <img src="{{ articulo.imagen.url }}" alt="image"> </a>
                    </div>
                    {% else %}
                    <div style="text-align: center;">
                        <a href="#"> <img src="{{ articulo.imagen.url }}" alt="image"> </a>
                       </div>
                 {% endif %}
                 <hr>
                   <p text-align="center card-text"> {{ articulo.descripcion }}</p>
                   
                </div>
                <div class="text-center card-footer ">
                    <b>{{ articulo.fecha }}</b>
                 </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock contenido %}
